NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=chat-prod
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002
RESEND_API_KEY=
EMAIL_FROM=noreply@chodex.se
EMAIL_TO=mohammed.a.haidari@gmail.com
